@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .text-center{
        padding-top: 100px;
    }

    .btn-primary{
        width: 150px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to AgriEnergy</h1>
    <h3>Everything Agri!!</h3>
    <br /><br /><br /><br /><br />

    <a class="btn btn-primary" asp-page="/Login">Login</a>
    
</div>
